<div class="container py-5">
    <ul class="alert alert-danger" *ngIf="errors?.length != 0">
        <div class="container">
            <li *ngFor="let err of errors">{{ err }}</li>
        </div>
    </ul>

    <div class="card shadow-lg">
        <div class="card-header">
            <h5>Crear un Autor</h5>
        </div>
        <div class="card-body">
            <form #autorsForm="ngForm">
                <!-- Campo Titulo -->
                <div class="form-group row mb-4">
                    <label for="nombre" class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <input type="text" 
                               class="form-control form-control-lg" 
                               [(ngModel)]="autor.nombre" 
                               name="nombre" 
                               #nombre="ngModel" required>
                        <div class="alert alert-danger mt-2" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors?.['required']">
                                El título es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Campo Descripción -->
                <div class="form-group row mb-4">
                    <label for="biografia" class="col-sm-3 col-form-label">Biografía:</label>
                    <div class="col-sm-9">
                        <textarea 
                               class="form-control form-control-lg" 
                               [(ngModel)]="autor.biografia" 
                               name="biografia" 
                               #biografia="ngModel" rows="3"></textarea>
                        <div class="alert alert-danger mt-2" *ngIf="biografia.invalid && (biografia.dirty || biografia.touched)">
                            <div *ngIf="biografia.errors?.['required']">
                                La descripción es requerida
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones de acción -->
                <div class="form-group row mt-5">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-success me-3" role="button" (click)="create()" *ngIf="!autor.id" [disabled]="!autorsForm.form.valid">
                            <i class="bi bi-plus-lg"></i> Crear
                        </button>
            
                        <button class="btn btn-warning" role="button" (click)="update()" *ngIf="autor.id" [disabled]="!autorsForm.form.valid">
                            <i class="bi bi-pencil"></i> Editar
                        </button>            
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>