.container2 {
  margin: 20px;
}

.h2 {
  text-decoration: underline;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 767px) {
  .card-img-top {
    height: 200px;
  }
  .input-group {
    width: 100%;
  }
  .flex-grow-0 {
    flex-basis: 98.5%;
  }
}