<div class="container mt-4">
    <h2 class="text-center mb-4">Valoraciones de Libros</h2>

    <div *ngIf="authService.esAdmin" class="d-flex justify-content-end my-3 d-flex justify-content-center">
        <a [routerLink]="['/valoracion/form']" class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle me-2"></i>Nueva valoración
        </a>
    </div>

    <div class="alert alert-info" *ngIf="valoraciones.length === 0">
        No hay valoraciones disponibles.
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3" *ngFor="let valoracion of valoraciones">

                <div class="card-body">
                    <a [routerLink]="['/libro', valoracion.libroDetalles]" routerLinkActive="active">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="text-secondary">
                                    <strong><i class="bi bi-book me-2"></i>
                                        {{valoracion.libro?.titulo}}</strong>
                                </p>
                                <h6 class="text-muted">
                                    <strong>{{ valoracion.usuario?.nombre }} {{ valoracion.usuario?.apellido }}</strong>
                                </h6>
                                <p class="text-muted">
                                    {{ valoracion.usuario?.email }}
                                </p>
                            </div>
                            <div class="stars-container">
                                <span class="star-rating">
                                    <i class="bi bi-star-fill text-warning"
                                        *ngFor="let star of getStarsArray(valoracion.puntuacion)"></i>
                                    <i class="bi bi-star"
                                        *ngFor="let star of getEmptyStarsArray(valoracion.puntuacion)"></i>
                                </span>
                            </div>
                        </div>

                        <p class="card-text mt-3">
                            <i class="bi bi-quote"></i>
                            {{ valoracion.comentario }}
                            <i class="bi bi-quote"></i>
                        </p>

                        <small class="text-muted">
                            {{ valoracion.fecha | date:'dd/MM/yyyy' }}
                        </small>
                    </a>
                    <div *ngIf="authService.esAdmin" class="d-flex justify-content-end gap-2 mt-3">
                        <button type="button" name="editar" [routerLink]="['/valoracion/form', valoracion.id]"
                            class="btn btn-secondary text-nowrap">
                            <i class="bi bi-pencil me-2"></i>Editar
                        </button>
                        <button type="button" name="eliminar" (click)="delete(valoracion)"
                            class="btn btn-danger text-nowrap">
                            <i class="bi bi-person-x me-2"></i>Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>