<div class="container mt-4">
    <h2>Resultados de búsqueda para: "{{searchTerm}}"</h2>

    <!--Libros-->
    <div *ngIf="results.libros?.length > 0" class="mt-4">
        <h3>Libros</h3>
        <div class="row">
            <div *ngFor="let libro os results.libros" class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{libro.titulo}}</h5>
                        <p class="card-text">{{libro.precio | currency}}</p>
                        <button class=" btn btn-primary" [routerLink]="['/libros', libro.id]">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Autores-->
    <div *ngIf="results.autores?.length > 0" class="mt-4">
        <h3>Autores</h3>
        <div class="row">
            <div *ngFor="let autor os results.autores" class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{autor.nombre}}</h5>
                        <p class="card-text">{{autor.biografia | slice:0:100}}...</p>
                        <button class=" btn btn-primary" [routerLink]="['/autores', autor.id]">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Generos-->
    <div *ngIf="results.generos?.length > 0" class="mt-4">
        <h3>Géneros</h3>
        <div class="row">
            <div *ngFor="let genero os results.generos" class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{genero.nombre}}</h5>
                        <p class="card-text">{{genero.descripcion}}</p>
                        <button class=" btn btn-primary" [routerLink]="['/generos', genero.id]">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>