<!-- Ranking mejor valorados-->
<div class="container my-3">
    <h2 class="text-center mb-4">Ranking Mejor Valorados</h2>

    <!-- Carrusel-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let fragmento of fragmentos; let i = index" [class.active]="i === 0">
                <div class="row g-4 justify-content-center book-grid">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2-4 book-item" *ngFor="let book of fragmento">
                        <div class="card h-100">
                            <img [src]="book.image" class="card-img-top" alt="Portada del libro">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">{{ book.author }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controles del Carrusel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--recomendados-->
<div class="container2">
    <section class="category">
        <h2>Ficción literaria</h2>
        <div class="category-books">
            <div class="book" *ngFor="let book of fragmentos[0]">
                <div class="book-card">
                    <div class="book-img">
                        <img [src]="book.image" alt="Portada del libro">
                    </div>
                    <div class="info">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="category">
        <h2>Ficción literaria</h2>
        <div class="category-books">
            <div class="book" *ngFor="let book of fragmentos[0]">
                <div class="book-card">
                    <div class="book-img">
                        <img [src]="book.image" alt="Portada del libro">
                    </div>
                    <div class="info">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="category">
        <h2>Ficción literaria</h2>
        <div class="category-books">
            <div class="book" *ngFor="let book of fragmentos[0]">
                <div class="book-card mx-4">
                    <div class="book-img">
                        <img [src]="book.image" alt="Portada del libro">
                    </div>
                    <div class="info">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-autor></app-autor>
<app-libro></app-libro>
<app-usuario></app-usuario>
<app-generos></app-generos>
<app-favorito></app-favorito>
<app-carrito></app-carrito>
<app-detalles-carrito></app-detalles-carrito>
<app-pedido></app-pedido>
<app-detalles-pedido></app-detalles-pedido>
<app-valoracion></app-valoracion>