.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30;
}

.category {
    flex-basis: 33.33%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-left: 3px solid #444;
    padding-left: 20px;
}

.category h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-left: -10px;
    color: #444;
    text-align: center;
}

.category-books {
    display: flex;
    flex-direction: column;
}

.book-card {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-right: 25px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
}

.book-card .book-img {
    flex: 0 0 120px;
    margin-right: 15px;
}

.book-card .book-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-card .info {
    flex: 1;
}

.book-card .info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.book-card .info p {
    color: #777;
}

.book:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

.loading-container,
.error-container {
    text-align: center;
    padding: 20px;
    color: #666;
}

.error-container {
    color: #d9534f;
}

.no-books {
    width: 100%;
    font-style: italic;
    text-align: center;
    padding: 20px;
    color: #888;
}

/* Responsive */

@media (max-width: 992px) {
    .category {
        flex-basis: 100%;
    }

    .category-books {
        padding-left: 0;
    }

    .col-lg-2-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .category h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .row-cols-1>* {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-sm-2>* {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .category h2 {
        font-size: 1.5rem;
    }

    .col-lg-2-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .book-grid {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .book-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .carousel-item .row {
        flex-wrap: nowrap;
    }

    .card {
        margin: 0 auto;
        max-width: 280px;
    }
}