<nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed w-100 top-0 left-0 z-index-100">
    <div class="container-fluid d-flex justify-content-between align-items-center mx-4">
        <!-- Menú de categorías -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-list me-2"></i>
            </button>
            <ul class="dropdown-menu">
                <!-- Categorías -->
                <li *ngFor="let categoria of categorias">
                    <a class="dropdown-item" href="#">{{ categoria.nombre }}</a>
                </li>

                <!-- Páginas principales -->
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" routerLink="/principal" routerLinkActive="active">Principal</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/libros" routerLinkActive="active">Libros</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/autores" routerLinkActive="active">Autores</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/generos" routerLinkActive="active">Géneros</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/favoritos" routerLinkActive="active">Favoritos</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/carrito" routerLinkActive="active">Carrito</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/valoraciones" routerLinkActive="active">Valoraciones</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>
            </ul>
        </div>

        <!-- Barra de búsqueda -->
        <div class="d-flex flex-grow-1 justify-content-center mx-3">
            <form class="d-flex w-100" role="search">
                <input class="form-control me-2 busqueda" type="search" placeholder="Busca por autor, título, ISBN"
                    aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </form>
        </div>

        <!-- Iconos de usuario, favoritos y carrito -->
        <div class="d-flex justify-content-end">
            <!-- Mi cuenta -->
            <a href="#" class="btn btn-link text-decoration-none text-dark">
                <i class="bi bi-person-circle"></i> Perfil
            </a>
            <!-- Favs -->
            <a href="#" class="btn btn-link text-decoration-none text-dark">
                <i class="bi bi-heart-fill"></i>Favoritos
            </a>
            <!-- Carrito -->
            <a href="#" class="btn btn-link text-dark">
                <i class="bi bi-cart4"></i>
                <span class="badge bg-danger">3</span><!-- número de artículos en el carrito -->
            </a>
        </div>
    </div>
</nav>