<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center mx-4">

        <!-- Botón del menú -->
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <i class="bi bi-list me-2"></i>
        </button>


        <!-- Barra de búsqueda -->
        <div class="d-flex flex-grow-1 justify-content-center mx-3">
            <form class="d-flex w-100" role="search">
                <input class="form-control me-2" type="search" placeholder="Busca por autor, título, ISBN"
                    aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </form>
        </div>

        <!-- Iconos de usuario, favoritos y carrito -->
        <div class="d-flex justify-content-end">
            <!-- Mi cuenta -->
            <a href="#" class="btn btn-link text-decoration-none text-dark">
                <i class="bi bi-person-circle"></i> Mi cuenta
            </a>
            <!-- Favs -->
            <a href="#" class="btn btn-link text-dark">
                <i class="bi bi-heart-fill"></i>
            </a>
            <!-- Carrito -->
            <a href="#" class="btn btn-link text-dark">
                <i class="bi bi-cart4"></i>
                <span class="badge bg-danger">3</span><!-- número de artículos en el carrito -->
            </a>
        </div>
    </div>
</nav>