.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
}

/* Establecer un comportamiento flexible para los elementos en la barra de navegación */
.navbar .container-fluid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Menú de categorías: Asegúrate de que esté alineado correctamente */
.navbar .dropdown {
  margin-right: 10px;
}

/* Barra de búsqueda: asegurarse de que ocupe todo el espacio disponible */
.navbar .d-flex.flex-grow-1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Barra de búsqueda: Ajustar el tamaño para pantallas pequeñas */
.navbar .busqueda {
  width: 100%;
  min-width: none;
  flex-grow: 1;
  box-sizing: border-box;
}

/* Cuando el ancho de la pantalla sea menor a 700px */
@media (max-width: 700px) {
  .navbar .busqueda {
    width: 100px;
  }

  .navbar .d-flex {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar .dropdown {
    margin-bottom: 10px;
  }
}
