/* Generales */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 20px;
}

::view-transition-old(libro-imagen-*),
::view-transition-new(libro-imagen-*) {
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  mix-blend-mode: normal;
}

::view-transition-old(libro-titulo-*),
::view-transition-old(libro-precio-*),
::view-transition-old(libro-autor-*),
::view-transition-new(libro-titulo-*),
::view-transition-new(libro-precio-*),
::view-transition-new(libro-autor-*) {
  mix-blend-mode: normal;
}


/* ViewTransitions */


/* ----- Efecto Zoom ----- */


@keyframes zoom-in {
  from {
    transform: scale(0.85);
  }
}

@keyframes zoom-out {
  to {
    transform: scale(1.15);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 300ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both zoom-out;
}

::view-transition-new(root) {
  animation: 300ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both zoom-in;
} 

/* ----- 3D Flip ----- */

/*
@keyframes flip-in {
  from {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flip-out {
  to {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 500ms cubic-bezier(0.4, 0, 1, 1) both flip-out;
}
::view-transition-new(root) {
  animation: 500ms cubic-bezier(0, 0, 0.2, 1) both flip-in;
}*/

/* ----- Morph ----- */

/*
@keyframes morph-in {
  from {
    transform: scale(0.8);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes morph-out {
  to {
    transform: scale(1.2);
    filter: blur(10px);
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 500ms cubic-bezier(0.4, 0, 1, 1) both morph-out;
}
::view-transition-new(root) {
  animation: 500ms cubic-bezier(0, 0, 0.2, 1) 100ms both morph-in;
} */

/* ----- Caida rebote ----- */

/*
@keyframes bounce-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 500ms cubic-bezier(0.4, 0, 1, 1) both bounce-out;
}
::view-transition-new(root) {
  animation: 600ms cubic-bezier(0.2, 0.8, 0.2, 1) both bounce-in;
} */

/* ----- Explosión ----- */

/*
@keyframes explode-in {
  from {
    transform: scale(0.5) rotate(-10deg);
    opacity: 0;
  }
}

@keyframes explode-out {
  to {
    transform: scale(1.5) rotate(10deg);
    opacity: 0;
  }
}
::view-transition-old(root) {
  animation: 400ms cubic-bezier(0.4, 0, 1, 1) both explode-out;
}
::view-transition-new(root) {
  animation: 400ms cubic-bezier(0, 0, 0.2, 1) 100ms both explode-in;
} */