<footer class="footer py-3 bg-light text-dark border-top">
    <div class="row">
        <!-- Sección 1: Sobre nosotros -->
        <div class="col-2 border-end ms-3">
            <h5>Sobre nosotros</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Nuestra historia</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Misión y visión</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Nuestros valores</a></li>
            </ul>
        </div>

        <!-- Sección 2: Explora nuestros libros -->
        <div class="col-2 border-end">
            <h5>Explora</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Más Vendidos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Ofertas Especiales</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Recomendaciones</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Novedades</a></li>
            </ul>
        </div>

        <!-- Sección 3: Servicios -->
        <div class="col-2 border-end">
            <h5>Servicios</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Envíos a domicilio</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Compra en línea</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Club de lectura</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Firmas de libros</a></li>
            </ul>
        </div>

        <!-- Sección 4: Suscripción al boletín -->
        <div class="col-4 offset-1 news">
            <form>
                <h5>Suscríbete a nuestro newsletter</h5>
                <p>Recibe un resumen mensual de las novedades de la librería.</p>
                <div class="d-flex w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Dirección de correo electrónico</label>
                    <input id="newsletter1" type="email" class="form-control busqueda-news"
                        placeholder="Dirección de correo electrónico">
                    <button class="btn btn-primary suscribe" type="submit">Suscribirse</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer: Redes sociales -->
    <div class="d-flex justify-content-between border-top registrado">
        <p>© 2025 Eviden Library. Fernando Robla y María Amigo.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="https://eviden.com/about-us/"><i class="bi bi-facebook"
                        style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="ms-3"><a class="link-dark" href="https://eviden.com/about-us/"><i class="bi bi-twitter"
                        style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="ms-3"><a class="link-dark" href="https://eviden.com/about-us/"><i class="bi bi-instagram"
                        style="font-size: 1.5rem;"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="https://eviden.com/about-us/"><i class="bi bi-youtube"
                        style="font-size: 1.5rem;"></i></a>
            </li>
        </ul>
    </div>
</footer>